/**
* Airbox – lightweight, airy jQuery lightbox
* Version 0.1.0 – https://github.com/AndyAkesson/airbox
*
* Copyright 2013, Anders Akesson
* Massachusetts Institute of Technology Licensed.
* Use as you please.
*/
@media all {
	.airbox {
		display: none;
		position:fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		text-align: center;
		cursor: pointer;
		background: rgba(0, 0, 0, 1.0);
	}
	.airbox:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	.airbox .airbox-close {
		position: absolute;
		z-index: 9999;
		right: 0px;
		top: 0px;
		line-height: 30px;
		width: 30px;
		background: #F8F8F8;
		color: #000;
	}
	.airbox .airbox-content {
		display: inline-block;
		vertical-align: middle;
		padding: 2%;
		/*width: 50%;*/
		max-width: 90%;
		overflow: auto;
		cursor: auto;
		background: #F8F8F8; 
	}
	.airbox img {
		width: 80%;
		height: auto;
	}
}